{{ $img := .Page.Resources.GetMatch (printf "*%s*" .Destination) }}
{{ if $img }}
  {{ $placeholderName := replace $img.Name ".webp" "-placeholder.webp" }}
  {{ $placeholder := .Page.Resources.GetMatch (printf "*%s" $placeholderName) }}

  {{ if not $placeholder }}
    {{ $placeholder = $img.Resize "400x" | images.Filter (images.GaussianBlur 6) }}
  {{ end }}
  {{ $full := $img }}
  <figure class="image-wrapper mt-0 mb-0 full-width">
    <div class="progressive-container full-width">
      <img src="{{ $placeholder.RelPermalink }}" width="{{ $placeholder.Width }}" height="{{ $placeholder.Height }}" alt="{{ .Text }}" class="placeholder mt-3 full-width" />
      <img src="{{ $full.RelPermalink }}" width="{{ $full.Width }}" height="{{ $full.Height }}" alt="{{ .Text }}" class="fullres clickable-image mt-3 full-width" loading="lazy" />
    {{ with .Title }}<figcaption>{{ . }}</figcaption>{{ end }}
    </div>
  </figure>
{{ else }}
  <!-- Fallback if image is not a Page Resource -->
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" class="clickable-image" loading="lazy" />
{{ end }}